<div id="sidebar">
  <div class="padding">
    <h2>Actions</h2>
    <div class="box">
    <ul>
      <li>
        <%= link_to 'Join new study group', new_enrollment_path(user_id: 1), class: 'sidebar-item' %>
      </li>
      <li>
        <%= link_to 'Start new study group', new_group_path %>
      </li>
      <li>
        <%= link_to 'Register new course', new_course_path %>
      </li>
      <li>
        <%= link_to 'View all study groups', groups_path %>
      </li>
      <li>
        <%= link_to 'Update profile', edit_user_path(1) %>
      </li>
      <li>
      <% if session[:user_id] %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
      </li>
    </ul>


    </div>
  </div>
</div>
