<!DOCTYPE html>
<html>
<head>
  <title>StudyND</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all-container">
<%= render 'layouts/header' %>

<% if flash[:message] %>
	  <div>
	    <p><%= flash[:message] %></p>
	  </div>
	<% end  %>
   <%= render 'layouts/sidebar' %>
<div id="main">
 <%= yield %>
</div>

<%= render 'layouts/footer' %>
</div>
</body>
</html>
