<!DOCTYPE html>
<html>
<head>
  <title>StudyND</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/sidebar' %>
  <%= yield %>

<div id="footer">
  <p>I am a footer</p>
  <div class="right">
    <% if session[:user_id] %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
</div>
</body>
</html>
