<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @enrollment.term %>
</p>

<p>
  <strong>Year:</strong>
  <%= @enrollment.year %>
</p>

<p>
  <strong>User:</strong>
  <%= @enrollment.group_id %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
